<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Игры</h1>

    <p><h2>На данной странице мы предлагаем вам приобрести эксклюзивную игру из нашей коллекции<h2></p>

    <button><h1>Купить<h1></button>
    <ul><h2>Atomic Heart<h2></ul>
    <button><h1>Купить<h1></button>
    <ul><h2>Cyberpunk<h2></ul>
    <button><h1>Купить<h1></button>
    <ul><h2>PayDay<h2></ul>

    <button onclick="window.history.back()"><h2>Вернуться обратно<h2></button>




</body>
</html>

